/*
* @Author: purain
* @Date:   2019-05-27 20:58:41
* @Last Modified by:   purain
* @Last Modified time: 2019-05-28 20:03:00
*/
p{
	padding: 0;
	line-height: 12px;
}
.oper {
	margin-right: 5px;
}

.search-wrap {
	margin-bottom : 20px;
	.form-group {
		margin-right : 10px;
	}
}
