/*
* @Author: purain
* @Date:   2019-05-28 20:02:46
* @Last Modified by:   purain
* @Last Modified time: 2019-05-28 20:05:09
*/
.page-header-right {
	position: absolute;
	right: 15px;
	top : 12px;
}